<% if @lists != {} %>
  <% @lists.each do |list, movies| %>
    <div class="dropdown list-header">
      <h2 class="section-title"><%= list.name %></h2><i class="fas fa-edit dropdown-toggle" id="editListDropdown-<%= list.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
      <div class="dropdown-menu" aria-labelledby="editListDropdown-<%= list.id %>">
        <span class="dropdown-item link" data-toggle="modal" data-target="#listEdit-<%= list.id %>">Renommer</span>
        <%= link_to "Supprimer", list_path(list), method: :delete, data: { confirm: 'Êtes-vous sûr de vouloir supprimer cette liste ? Toutes les vidéos qui en font partie seront retirées.' }, class: "dropdown-item" %>
      </div>
    </div>

    <%= render 'lists/movies_list', movies: movies %>

    <div class="modal fade" id="listEdit-<%= list.id %>" tabindex="-1" aria-labelledby="editList-<%= list.id %>" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editList-<%= list.id %>">Renommer la liste</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <div aria-hidden="true" class="btn-modal-close">&times;</div>
          </button>
        </div>
        <div class="modal-body">
          <%= simple_form_for(list) do |f| %>
            <%= f.input :name, label: "Nom"%>
            <%= f.submit "Renommer la liste", class: 'btn btn-list' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<% else %>
Aucune liste disponible.
<% end %>
