<div id="show-movie-container">
  <% if @movie["poster_path"] != nil %>
    <div id="show-movie-img-container">
      <%= image_tag("https://image.tmdb.org/t/p/w500#{@movie["poster_path"]}") %>
    </div>
  <% end %>
  <div id="show-movie-content-container">
    <h1 id="show-movie-title"><%= @movie.title %></h1>
    <div class="show-movie-infos">
      <% if @movie.year != "" %>
        <%= Date.strptime(@movie.year, '%Y-%m-%d').strftime('%d/%m/%Y') %>
      <% end %>
      <i class="fas fa-circle"></i>
      <% @movie.genres.each_with_index do |genre, index| %>
        <%= genre.name %><% if index < @movie.genres.length - 1 %>,<% end %>
      <% end %>
      <i class="fas fa-circle"></i>
      <%= @movie.runtime %> min
    </div>
    <% if @youtube_videos != [] %>
      <iframe width="558" height="308" src="https://www.youtube.com/embed/<%= @youtube_videos[0]['id']['videoId'] %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <% end %>
    <p id="show-movie-tagline"><%= @movie.tagline %></p>
    <h2 class="show-movie-subtitle">Sinopsis</h2>
    <p id="show-movie-sinopsis"><%= @movie.sinopsis %></p>
    <% if user_signed_in? && WatchlistItem.find_by(user: current_user, movie: @movie) %>
      <h2 class="show-movie-subtitle">Mon avis <i class="fas fa-edit" title="Écrire un avis" data-toggle="tooltip" id="btn-write-review"></i></h2>
      <% if @review.id != nil %>
        <%= render 'shared/rate', review: @review %>
        <p id="show-movie-review"><%= @review.content %></p>
      <% else %>
        <p id="show-movie-review">Aucun avis...</p>
      <% end %>
    <% end %>
  </div>
</div>

<% if user_signed_in? && WatchlistItem.find_by(user: current_user, movie: @movie) %>
  <%= render 'shared/modal_review', movie: @movie, review: @review %>
<% end %>
