<div id="show-movie-container">
  <% if @movie["poster_path"] != nil %>
    <div id="show-movie-img-container">
      <%= image_tag("https://image.tmdb.org/t/p/w500#{@movie["poster_path"]}") %>
    </div>
  <% end %>
  <div id="show-movie-content-container">
    <div id="show-movie-header">
      <h1 id="show-movie-title"><%= @movie.title %></h1>
      <% if user_signed_in? %>
        <div class="dropdown" id="movie-dropdown-<%= @movie.tmdb_id %>">
          <% if list_item = WatchlistItem.joins(:movie).find_by(user_id: current_user.id, movie: { tmdb_id: @movie.tmdb_id }) %>
            <i class="fas fa-plus icon-list icon-list-show dropdown-toggle i-active" id="listDropdown-<%= @movie.tmdb_id %>" data-icon-movie-id="<%= @movie.tmdb_id %>" data-toggle="dropdown" data-hover="tooltip" title="Gérer mes listes" aria-haspopup="true" aria-expanded="false"></i>
            <div class="dropdown-menu dropdown-menu-list" aria-labelledby="listDropdown-<%= @movie.tmdb_id %>">
              <div class="header-list">Actuelle : <%= list_item.list.name %></div>
              <% if @lists.count > 1 %>
                <hr class="dropdown-divider">
                <span class="header-list">Changer de liste :</span>
                <% @lists.each do |list| %>
                  <% if list_item.list != list %>
                    <span class="dropdown-item link dropdown-item-list" data-list-id="<%= list.id %>" data-movieid="<%= @movie.tmdb_id %>" data-list-item-id="<%= list_item.id %>">
                      <%= list.name %>
                    </span>
                  <% end %>
                <% end %>
              <% end %>
              <hr class="dropdown-divider">
              <span class="dropdown-item link create-list-link" data-toggle="modal" data-target="#list" data-list="<%= @list = List.new %>">
                Créer une nouvelle liste
              </span>
              <hr class="dropdown-divider">
              <span class="dropdown-item link remove-list-link" data-watchlist-item-id="<%= list_item.id %>" id="remove-link-<%= @movie.tmdb_id %>" data-movieid="<%= @movie.tmdb_id %>">Retirer de la liste</span>
            </div>
          <% else %>
            <i class="fas fa-plus icon-list icon-list-show dropdown-toggle" data-movieid="<%= @movie.tmdb_id %>" id="listDropdown-<%= @movie.tmdb_id %>" data-icon-movie-id="<%= @movie.tmdb_id %>" data-toggle="dropdown" data-hover="tooltip" title="Gérer mes listes" aria-haspopup="true" aria-expanded="false"></i>
            <div class="dropdown-menu dropdown-menu-list" aria-labelledby="listDropdown-<%= @movie.tmdb_id %>">
              <% if @lists != [] %>
                <span class="header-list">Ajouter à une liste :</span>
                <% @lists.each do |list| %>
                  <span class="dropdown-item link dropdown-item-list" data-list-id="<%= list.id %>" data-movieid="<%= @movie.tmdb_id %>">
                    <%= list.name %>
                  </span>
                <% end %>
                <hr class="dropdown-divider">
              <% end %>
              <span class="dropdown-item link create-list-link" data-toggle="modal" data-target="#list" data-list="<%= @list = List.new %>">
                Créer une nouvelle liste
              </span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="show-movie-infos">
      <%= Date.strptime(@movie.year, '%Y-%m-%d').strftime('%d/%m/%Y') if @movie.year != nil && @movie.year != "" %>
      <i class="fas fa-circle"></i>
      <% @movie.genres.each_with_index do |genre, index| %>
        <%= genre.name %><% if index < @movie.genres.length - 1 %>,<% end %>
      <% end %>
      <i class="fas fa-circle"></i>
      <%= @movie.runtime %> min
    </div>
    <% if @youtube_videos != [] %>
      <iframe width="558" height="308" src="https://www.youtube.com/embed/<%= @youtube_videos[0]['id']['videoId'] %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <% end %>
    <p id="show-movie-tagline"><%= @movie.tagline %></p>
    <h2 class="show-movie-subtitle">Sinopsis</h2>
    <p id="show-movie-sinopsis"><%= @movie.sinopsis %></p>
    <% if user_signed_in? && WatchlistItem.find_by(user: current_user, movie: @movie) %>
      <h2 class="show-movie-subtitle">Mon avis <i class="fas fa-edit" title="Écrire un avis" data-toggle="tooltip" id="btn-write-review"></i></h2>
      <% if @review.id != nil %>
        <%= render 'shared/rate', review: @review %>
        <p id="show-movie-review"><%= @review.content %></p>
      <% else %>
        <p id="show-movie-review">Aucun avis...</p>
      <% end %>
    <% end %>
  </div>
</div>

<% if user_signed_in? && WatchlistItem.find_by(user: current_user, movie: @movie) %>
  <%= render 'shared/modal_review', movie: @movie, review: @review %>
<% end %>
