<div class="row d-flex align-items-center caroussel-movie">
  <div class="d-flex align-items-center btn-caroussel-left">
      <a href="#carouselIndicators<%= caroussel_id %>" role="button" data-slide="prev">
        <div class="carousel-nav-icon">
          <i class="fas fa-chevron-left"></i>
        </div>
      </a>
  </div>
  <div class="col-12">
      <!--Start carousel-->
      <div id="carouselIndicators<%= caroussel_id %>" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <% while y <= movies.length - 1 %>
            <div class="carousel-item carousel-container-<%= caroussel_id %>">
              <div class="row">
                <div class="col-12 caroussel-row">
                  <% movies[i..y].each do |movie| %>
                    <div class="movie-card">
                      <div class="img-card-container">
                        <%= link_to findorcreate_path(movie: movie) do %>
                          <% if movie["poster_path"] != nil %>
                            <%= image_tag("https://image.tmdb.org/t/p/w500#{movie['poster_path']}") %>
                          <% else %>
                            <%= image_tag("missing_img") %>
                          <% end %>
                        <% end %>
                      </div>
                      <div class="content-card-container">
                        <h6 class="movie-title"><%= movie["title"] %></h6>
                        <div class="d-flex">
                          <div class="movie-date"><%= Date.strptime(movie["release_date"], '%Y-%m-%d').strftime('%d/%m/%Y') %></div>
                          <div class="movie-user-actions">
                            <% if user_signed_in? %>
                              <% if WatchlistItem.joins(:movie).find_by(user_id: current_user.id, movie: { tmdb_id: movie["id"] }) %>
                                <i class="fas fa-plus icon-list i-active" title="Retirer de Ma Liste" data-toggle="tooltip" data-movieid="<%= movie["id"] %>"></i>
                              <% else %>
                                <i class="fas fa-plus icon-list" title="Ajouter à Ma Liste" data-toggle="tooltip" data-movieid="<%= movie["id"] %>"></i>
                              <% end %>
                              <% if View.joins(:movie).find_by(user_id: current_user.id, movie: { tmdb_id: movie["id"] }) %>
                                <i class="fas fa-video icon-library i-active" title="Retirer de Ma Vidéothèque" data-toggle="tooltip" data-movieid="<%= movie["id"] %>"></i>
                              <% else %>
                                <i class="fas fa-video icon-library" title="J'ai déjà vu ce film" data-toggle="tooltip" data-movieid="<%= movie["id"] %>"></i>
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <% i += incr %>
            <% y += incr %>
          <% end %>
        </div>
      </div>
      <!--End carousel-->
  </div>
  <div class="d-flex align-items-center justify-content-center btn-caroussel-right">
    <a  href="#carouselIndicators<%= caroussel_id %>" data-slide="next">
      <div class="carousel-nav-icon">
        <i class="fas fa-chevron-right"></i>
      </div>
    </a>
  </div>
</div>
