<div class="caroussel">
  <h2 class="carousel-title"><%= link_to caroussel_title, path, class: "link" %></h2>
  <div class="caroussel-movie caroussel_<%= caroussel_id %>">
    <% movies.each do |movie| %>
      <div class="movie-card">
        <div class="img-card-container">
          <%= link_to findorcreate_path(movie: movie) do %>
            <% if movie["poster_path"] != nil %>
              <%= image_tag("https://image.tmdb.org/t/p/w500#{movie['poster_path']}") %>
            <% else %>
              <%= image_tag("missing_img") %>
            <% end %>
          <% end %>
        </div>
        <div class="content-card-container">
          <h6 class="movie-title"><%= movie["title"] %></h6>
          <div class="infos-card-container">
            <div class="movie-date"><%= Date.strptime(movie["release_date"], '%Y-%m-%d').strftime('%d/%m/%Y') if movie["release_date"] != nil && movie["release_date"] != "" %></div>
            <div class="movie-user-actions">
              <% if user_signed_in? %>
                <div class="dropdown dropup" id="movie-dropdown-<%= movie["id"] %>">
                  <% if list_item = WatchlistItem.joins(:movie).find_by(user_id: current_user.id, movie: { tmdb_id: movie["id"] }) %>
                    <i class="fas fa-plus icon-list dropdown-toggle i-active" id="listDropdown-<%= movie["id"] %>" data-icon-movie-id="<%= movie["id"] %>" data-toggle="dropdown" data-hover="tooltip" title="Gérer mes listes" aria-haspopup="true" aria-expanded="false"></i>
                    <div class="dropdown-menu dropdown-menu-list" aria-labelledby="listDropdown-<%= movie["id"] %>">
                      <div class="header-list">Actuelle : <%= list_item.list.name %></div>
                      <% if @lists.count > 1 %>
                        <hr class="dropdown-divider">
                        <span class="header-list">Changer de liste :</span>
                        <% @lists.each do |list| %>
                          <% if list_item.list != list %>
                            <span class="dropdown-item link dropdown-item-list" data-list-id="<%= list.id %>" data-movieid="<%= movie["id"] %>" data-list-item-id="<%= list_item.id %>">
                              <%= list.name %>
                            </span>
                          <% end %>
                        <% end %>
                      <% end %>
                      <hr class="dropdown-divider">
                      <span class="dropdown-item link create-list-link" data-toggle="modal" data-target="#list" data-list="<%= @list = List.new %>">
                        Créer une nouvelle liste
                      </span>
                      <hr class="dropdown-divider">
                      <span class="dropdown-item link remove-list-link" data-watchlist-item-id="<%= list_item.id %>" id="remove-link-<%= movie["id"] %>" data-movieid="<%= movie["id"] %>">Retirer de la liste</span>
                    </div>
                  <% else %>
                    <i class="fas fa-plus icon-list dropdown-toggle" data-movieid="<%= movie["id"] %>" id="listDropdown-<%= movie["id"] %>" data-icon-movie-id="<%= movie["id"] %>" data-toggle="dropdown" data-hover="tooltip" title="Gérer mes listes" aria-haspopup="true" aria-expanded="false"></i>
                    <div class="dropdown-menu dropdown-menu-list" aria-labelledby="listDropdown-<%= movie["id"] %>">
                      <% if @lists != [] %>
                        <span class="header-list">Ajouter à une liste :</span>
                        <% @lists.each do |list| %>
                          <span class="dropdown-item link dropdown-item-list" data-list-id="<%= list.id %>" data-movieid="<%= movie["id"] %>">
                            <%= list.name %>
                          </span>
                        <% end %>
                        <hr class="dropdown-divider">
                      <% end %>
                      <span class="dropdown-item link create-list-link" data-toggle="modal" data-target="#list" data-list="<%= @list = List.new %>">
                        Créer une nouvelle liste
                      </span>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- Slick Scripts -->
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript">
  $(".caroussel_<%= caroussel_id %>").slick({
    dots: true,
    infinite: false,
    speed: 300,
    slidesToShow: 8,
    slidesToScroll: 8,
    responsive: [
      {
        breakpoint: 1350,
        settings: {
          slidesToShow: 7,
          slidesToScroll: 7,
          infinite: true,
          dots: true
        }
      },
      {
        breakpoint: 1200,
        settings: {
          slidesToShow: 6,
          slidesToScroll: 6
        }
      },
      {
        breakpoint: 1050,
        settings: {
          slidesToShow: 5,
          slidesToScroll: 5
        }
      },
      {
        breakpoint: 915,
        settings: {
          slidesToShow: 4,
          slidesToScroll: 4
        }
      },
      {
        breakpoint: 915,
        settings: {
          slidesToShow: 4,
          slidesToScroll: 4
        }
      },
      {
        breakpoint: 750,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 3
        }
      },
      {
        breakpoint: 450,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 2
        }
      }
    ]
  });
</script>