<% case review.rate %>
<% when 1 %>
  <div class="movie-rate"><%= image_tag("rate-1") %></div>
<% when 2 %>
  <div class="movie-rate"><%= image_tag("rate-2") %></div>
<% when 3 %>
  <div class="movie-rate"><%= image_tag("rate-3") %></div>
<% when 4 %>
  <div class="movie-rate"><%= image_tag("rate-4") %></div>
<% when 5 %>
  <div class="movie-rate"><%= image_tag("rate-5") %></div>
<% end %>
